.keyword{
    color: orange;
}
.punctuation{
    color: blue;
}
.number{
    color: green;
}
.variable{
    color: red;
}
.bracket{
    color: darkred;
}
.punctuation{
    color: darkorchid;
}
.atom{
    color: teal;
}
.builtin{
    color: magenta;
}
.normal{
    color: black;
}